@use '../../patterns/mixins.module.scss' as mixins;

.appStyle{
    border: solid red;
    width: 100%;
    height: 100vh;
    background-image: url('../../../assets/bg-desktop.jpg');
    background-size: 100% 100vh;
    background-repeat: no-repeat;

    a{
        font-size: mixins.$font-p;
    }
}

.navStyle{
    border: solid green;
}

.ulStyle{
    border: solid orangered;
    height: 50vh;
    @include mixins.flex($align: center, $justify: center);

    li{
        border: solid 5px mixins.$border;
        width: 30vw;
        height: 30vh;
    }
}