@use './variables.module.scss' as variable;


h1{
    font-size: variable.$font-h1;
}
h2{
    font-size: variable.$font-h2;
}
h3{
    font-size: variable.$font-h3;
}
p{
    font-size: variable.$font-p;
}
li{
    font-size: variable.$font-li;
}







