// ------------- VARIAVEIS DE MEDIA QUERY ----------------
$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;


// ---------------- VARIAVEIS DE TIPOGRAFIA -------------
$font-h1: clamp(3.6rem, 3vw + 1rem, 4.8rem);
$font-h2: clamp(2.8rem, 3vw + 1rem, 3.6rem);
$font-h3: clamp(2.4rem, 3vw + 1rem, 3.2rem);
$font-p: clamp(1.6rem, 3vw + 1rem, 2.4rem);
$font-li: clamp(1.2rem, 3vw + 1rem, 2rem);